In [45]:
import pandas as pd

In [46]:
flag_data = "static/data/country_flags.csv"
country_data = "static/data/country_data.csv"

#read files as dataframe

flag_df = pd.read_csv(flag_data)

country_df = pd.read_csv(country_data)

country_df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [47]:
flag_df.head()

,Country,Images File Name,ImageURL
0,Afghanistan,Flag_of_Afghanistan.svg,https://upload.wikimedia.org/wikipedia/commons...
1,Albania,Flag_of_Albania.svg,https://upload.wikimedia.org/wikipedia/commons...
2,Algeria,Flag_of_Algeria.svg,https://upload.wikimedia.org/wikipedia/commons...
3,Andorra,Flag_of_Andorra.svg,https://upload.wikimedia.org/wikipedia/commons...
4,Angola,Flag_of_Angola.svg,https://upload.wikimedia.org/wikipedia/commons...

In [48]:
#remove columns from country_df that are not of interest

country_df = country_df.drop(columns=["Service","Industry","Agriculture","Deathrate","Birthrate","Climate","Other (%)","Crops (%)",
                                      "Arable (%)","Phones (per 1000)","Infant mortality (per 1000 births)","Literacy (%)",
                                      "Net migration","Coastline (coast/area ratio)","Pop. Density (per sq. mi.)"])

country_df.head()

,Country,Region,Population,Area (sq. mi.),GDP ($ per capita)
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,700.0
1,Albania,EASTERN EUROPE,3581655,28748,4500.0
2,Algeria,NORTHERN AFRICA,32930091,2381740,6000.0
3,American Samoa,OCEANIA,57794,199,8000.0
4,Andorra,WESTERN EUROPE,71201,468,19000.0

In [49]:
#merge the two dataframes on country name

combo_df = pd.merge(country_df, flag_df[["Country","ImageURL"]], on="Country")

combo_df.head()

,Country,Region,Population,Area (sq. mi.),GDP ($ per capita),ImageURL
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,700.0,https://upload.wikimedia.org/wikipedia/commons...
1,Albania,EASTERN EUROPE,3581655,28748,4500.0,https://upload.wikimedia.org/wikipedia/commons...
2,Algeria,NORTHERN AFRICA,32930091,2381740,6000.0,https://upload.wikimedia.org/wikipedia/commons...
3,Andorra,WESTERN EUROPE,71201,468,19000.0,https://upload.wikimedia.org/wikipedia/commons...
4,Angola,SUB-SAHARAN AFRICA,12127071,1246700,1900.0,https://upload.wikimedia.org/wikipedia/commons...

In [72]:
#clean up the Region column - create broader continent groups instead of regional groups


combo_df["Region"].replace(to_replace="EASTERN EUROPE", value="Europe", inplace=True)
combo_df["Region"].replace(to_replace="WESTERN EUROPE", value="Europe", inplace=True)
combo_df["Region"].replace(to_replace="ASIA (EX. NEAR EAST)", value="Asia", inplace=True)
combo_df["Region"].replace(to_replace="NORTHERN AFRICA", value="Africa", inplace=True)
combo_df["Region"].replace(to_replace="SUB-SAHARAN AFRICA", value="Africa", inplace=True)
combo_df["Region"].replace(to_replace="LATIN AMER. & CARIB", value="North America", inplace=True)
combo_df["Region"].replace(to_replace="OCEANIA", value="Oceania", inplace=True)
combo_df["Region"].replace(to_replace="NORTHERN AMERICA", value="North America", inplace=True)
combo_df["Region"].replace(to_replace="NEAR EAST", value="Asia", inplace=True)
combo_df["Region"].replace(to_replace="BALTICS", value="Europe", inplace=True)

combo_df.head(10)

,Country,Region,Population,Area (sq. mi.),GDP ($ per capita),ImageURL
0,Afghanistan,Asia,31056997,647500,700.0,https://upload.wikimedia.org/wikipedia/commons...
1,Albania,Europe,3581655,28748,4500.0,https://upload.wikimedia.org/wikipedia/commons...
2,Algeria,Africa,32930091,2381740,6000.0,https://upload.wikimedia.org/wikipedia/commons...
3,Andorra,Europe,71201,468,19000.0,https://upload.wikimedia.org/wikipedia/commons...
4,Angola,Africa,12127071,1246700,1900.0,https://upload.wikimedia.org/wikipedia/commons...
5,Argentina,North America,39921833,2766890,11200.0,https://upload.wikimedia.org/wikipedia/commons...
6,Armenia,C.W. OF IND. STATES,2976372,29800,3500.0,https://upload.wikimedia.org/wikipedia/commons...
7,Australia,Oceania,20264082,7686850,29000.0,https://upload.wikimedia.org/wikipedia/commons...
8,Austria,Europe,8192880,83870,30000.0,https://upload.wikimedia.org/wikipedia/commons...
9,Azerbaijan,C.W. OF IND. STATES,7961619,86600,3400.0,https://upload.wikimedia.org/wikipedia/commons...

In [86]:
#Weird category Commonwealth of Independent States which has overlap between Europe and Asia.

CIS = combo_df.loc[combo_df['Region'] == "C.W. OF IND. STATES"]

CIS

,Country,Region,Population,Area (sq. mi.),GDP ($ per capita),ImageURL
6,Armenia,C.W. OF IND. STATES,2976372,29800,3500.0,https://upload.wikimedia.org/wikipedia/commons...
9,Azerbaijan,C.W. OF IND. STATES,7961619,86600,3400.0,https://upload.wikimedia.org/wikipedia/commons...
13,Belarus,C.W. OF IND. STATES,10293011,207600,6100.0,https://upload.wikimedia.org/wikipedia/commons...
56,Georgia,C.W. OF IND. STATES,4661473,69700,2500.0,https://upload.wikimedia.org/wikipedia/commons...
79,Kazakhstan,C.W. OF IND. STATES,15233244,2717300,6300.0,https://upload.wikimedia.org/wikipedia/commons...
83,Kyrgyzstan,C.W. OF IND. STATES,5213898,198500,1600.0,https://upload.wikimedia.org/wikipedia/commons...
104,Moldova,C.W. OF IND. STATES,4466706,33843,1800.0,https://upload.wikimedia.org/wikipedia/commons...
130,Russia,C.W. OF IND. STATES,142893540,17075200,8900.0,https://upload.wikimedia.org/wikipedia/en/f/f3...
154,Tajikistan,C.W. OF IND. STATES,7320815,143100,1000.0,https://upload.wikimedia.org/wikipedia/commons...
161,Turkmenistan,C.W. OF IND. STATES,5042920,488100,5800.0,https://upload.wikimedia.org/wikipedia/commons...
164,Ukraine,C.W. OF IND. STATES,46710816,603700,5400.0,https://upload.wikimedia.org/wikipedia/commons...
169,Uzbekistan,C.W. OF IND. STATES,27307134,447400,1700.0,https://upload.wikimedia.org/wikipedia/commons...

In [92]:
#Replace the regions for the CIS

combo_df.loc[[6,9,56,79,83,154,161,169], 'Region'] = 'Asia'

combo_df.loc[[13,104,130,164], 'Region'] = 'Europe'

In [93]:
#Read in color dataframes

In [94]:
#Merge color dataframes

In [96]:
#Export combo_df to CSV

combo_df.to_csv("static/data/combined_data.csv")